<template>
    <div>
        <form action="">
            <div>
                <label for="">Nombre</label>
                <input type="text">
            </div>
            <div>
                <label for="">Apellidos</label>
                <input type="text">
            </div>
        </form>
    </div>
</template>
<script>
export default {
    
}
</script>
<style>

</style>
