<template>
    <div>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore nostrum quae laborum consequatur dicta alias exercitationem voluptate fugit, quis corporis atque, reprehenderit ducimus est quas odio non sapiente, voluptas aperiam!
    </div>
</template>
<script>
export default {
    
}
</script>
<style>

</style>
