<template>
    <div>
        <img src="https://raw.githubusercontent.com/AleksandarDev/vscode-sequence-diagrams/master/images/Demo0.2.0.png" alt="">
    </div>
</template>
<script>
export default {
    
}
</script>
<style>
img{
  width: 100%;
}

</style>
