<template>
    <div>
        <form action="">
            <input type="text" name="Edad" placeholder="Edad">
        </form>
        <div class="btn-options">
            <a href="" @click.prevent @click="onPrev">Anterior</a>
            <a href="" @click.prevent @click="onNext">Siguiente</a>
        </div>
    </div>    
</template>
<script>
export default {
    props:["onNext","onPrev"]
}
</script>
<style>

</style>
