<template>
    <div>
        <form action="">
            <input type="text" name="Nombre" placeholder="Nombre" id="">
        </form>
        <a href="" @click.prevent  @click="onNext">Siguiente</a>
    </div>    
</template>
<script>
export default {
    props:["onNext"]
}
</script>
<style>
</style>
