<template>
  <div class="tab">
    <div class="tab__head">
      <a href="" :class="{'active':actualStepNumber>=1}" @click.prevent>Paso 1</a>
      <a href="" :class="{'active':actualStepNumber>=2}" @click.prevent>Paso 2</a>
      <a href="" :class="{'active':actualStepNumber>=3}" @click.prevent>Paso 3</a>
    </div>
    <component class="tab__body" :is="actual" :onNext="onNext" :onPrev="onPrev"> </component>    
  </div>
</template>
<script>
import step1 from "@/components/step/step1"
import step2 from "@/components/step/step2"
import step3 from "@/components/step/step3"

export default {
  data(){
    return {
      actual:step1,
      actualStepNumber:1
    }
  },
  methods:{
    onNext(){
      (this.actualStepNumber<3)?this.actualStepNumber++:null;
      this.render();
    },
    onPrev(){
      (this.actualStepNumber>1)?this.actualStepNumber--:null;
      this.render();
    },
    render(){
      if(this.actualStepNumber==1){
        this.actual=step1;
      }
      else if(this.actualStepNumber==2){
        this.actual=step2;
      }else if(this.actualStepNumber==3){
        this.actual=step3;
      }
    }
  }
}
</script>
<style scoped>
.tab{
  border: solid 1px grey;
  height: 400px;
  width: 500px;
}
.tab__head{
  padding: 10px;
  justify-content: space-between;
  display: flex;
  border-bottom: 1px solid grey;
}
.tab__head a{
  text-decoration: none;
  display: flex;
  padding: 5px;
  color: grey;
}
.tab__head a.active{
  color: firebrick;
}
.tab__body{
  padding: 10px;
  margin-top: 20px;
}

</style>
<style>
.btn-options{
  margin-top:20px;
  display: flex;
  justify-content: space-around;
}

</style>
