<template>
  <div class="tab">
    <div class="tab__head">
      <a href="" :class="{'active':actualTabName=='tab1'}" @click.prevent @click="changeTab('tab1')">Tab 1</a>
      <a href="" :class="{'active':actualTabName=='tab2'}" @click.prevent @click="changeTab('tab2')">Tab 2</a>
      <a href="" :class="{'active':actualTabName=='tab3'}" @click.prevent @click="changeTab('tab3')">Tab 3</a>
    </div>
    <component class="tab__body" :is="actual"> </component>    
  </div>
</template>
<script>
import tab1 from "@/components/tabs/tab1"
import tab2 from "@/components/tabs/tab2"
import tab3 from "@/components/tabs/tab3"

export default {
  data(){
    return {
      actual:tab1,
      actualTabName:'tab1'
    }
  },
  methods:{
    changeTab(tab){
      this.actualTabName=tab;
      switch(tab){
        case 'tab1':
        this.actual=tab1;
        break;
        case 'tab2':
        this.actual=tab2;
        break;
        case 'tab3':
        this.actual=tab3;
        break;
      }
    }
  }
}
</script>
<style scoped>
.tab{
  border: solid 1px grey;
  height: 400px;
  width: 500px;
}
.tab__head{
  padding: 10px;
  justify-content: space-between;
  display: flex;
  border-bottom: 1px solid grey;
}
.tab__head a{
  text-decoration: none;
  display: flex;
  padding: 5px;
  color: grey;
}
.tab__head a.active{
  color: firebrick;
}
.tab__body{
  padding: 10px;
  margin-top: 20px;
}

</style>
