<template>
  <div id="app">
    <Tabwapper/>
    <br>
    <Stepper/>
  </div>
</template>

<script>
import Tabwapper from './components/Tabwapper.vue'
import Stepper from './components/Stepper.vue'

export default {
  name: 'app',
  components: {
    Tabwapper,
    Stepper
  }
}
</script>

<style>

</style>
